/* typewriter animation */
  .cursor{
    border-right:5px solid #2c3e50;
    white-space:nowrap;
    overflow:hidden;
    max-width:max-content;
  }

  .message{
    animation: typeMsg 5s steps(50) 1s 1 normal both, cursorAnim 500ms steps(40) infinite normal;
  }

  @keyframes typeMsg{
    from{width:0;}
    to{width:100%;}
  }

  @keyframes cursorAnim{
    from{border-right-color:#2c3e50;}
    to{border-right-color:#fff;}
  }
/* end */

.git-link{
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    display: block;
}

.portfolio-content{
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.portfolio-content:hover{
    box-shadow: 0 0.5rem 1rem rgba(26, 188, 156, 0.4);;
}

.portfolio-content svg{
    display: block;
    margin: auto;
}

a:hover svg{
    color: #117964;
    text-decoration: none;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

.social-link a:hover svg{
    color: #fff;
    text-decoration: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

img.profile-img {
    width: 100%;
}

.divider-custom-lg {
    margin: 2.5rem 0 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* background image full height width */
.bg-image {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../assets/img/boston.jpeg);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* -------------------------------------*/

/* .navbar-shrink .show{
    color: black;
}

.navbar-shrink{
    background: #fff;
} */

/* section {
    opacity: 0;
    transform: translate(0, 20px); 
    transition: all 2s;
    }

section#about {
    opacity: 1;
}

section.visible {
    opacity: 1;
    transform: translate(0, 0); 
    } */

.exp-item {
    border-bottom: 1px solid;
    border-image: linear-gradient(45deg, rgb(255, 255, 255), #3F51B5) 1;
}

/* scroll down button animation */
.box{
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
.box span:nth-child(2)
{
	animation-delay: -0.2s;
}
.box span:nth-child(3)
{
	animation-delay: -0.4s;
}
@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}
/* end */